<script type="text/x-jsrender" id="template_broadcastlist">
    <li class="itemList" data-track-url="{{:trackurl}}">
    <div class="caption" id="caption">{{:UserName}}</div>
    <img src='@Url.Content("/{{:img}}")'></img>
    <div class="caption1">{{:trackname}}</div>
    
    </li>
    </script>