<script type="text/x-jquery-tmpl" id="tracktemplate">
    <div data-track-url="${Url}" >
        <a class="listitem" href="#" >
            <span id="span">${TrackName}</span>
            <p>${Title}</p>
        </a>
        <hr />
    </div>
                
        
</script>